body {
    background: white;
    color: #555555;
}
.mainbody {
    padding: 3em 0 2em 0;
    background: #f9f9f9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGQ0ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #d4d4d4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#d4d4d4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#d4d4d4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#d4d4d4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-8 */
}
.head.row.full {
    padding: 2em 0;
}
header {
    border-bottom: 1px solid #555;
}
.logo {
    font-size: 3em;
    line-height: 0.8em;
    font-weight: 600;
    width: auto;
    float: left;
    color: #555;
}
.logo .green {
    color: #78da67;
}
.logo-subText {
    font-size: 0.5em;
    line-height: 0;
    font-weight: normal;
}
.login-search {
    width: 50%;
    float: right;
}
.btn {
    color: white;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    padding: 1em;
    display: inline-block;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #78da67; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4ZGE2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Y2FkM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #78da67 0%, #4cad3c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78da67), color-stop(100%,#4cad3c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #78da67 0%,#4cad3c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #78da67 0%,#4cad3c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #78da67 0%,#4cad3c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #78da67 0%,#4cad3c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78da67', endColorstr='#4cad3c',GradientType=0 ); /* IE6-8 */
}
.btn:hover {
    color: white;
    text-decoration: none;
    background: rgb(70,193,62); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2YzEzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDhjMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(70,193,62,1) 0%, rgba(0,140,16,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,193,62,1)), color-stop(100%,rgba(0,140,16,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(70,193,62,1) 0%,rgba(0,140,16,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(70,193,62,1) 0%,rgba(0,140,16,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(70,193,62,1) 0%,rgba(0,140,16,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(70,193,62,1) 0%,rgba(0,140,16,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46c13e', endColorstr='#008c10',GradientType=0 ); /* IE6-8 */

}
a {
    color:#78da67;
}
a:hover {
    text-decoration: underline;
    color:#78da67;
}
input {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

/* GENERIC CLASSES */

.center{
 text-align: center;
}

.right{
    text-align: right;
}

.left {
    text-align: left;
}

.padding1em {
    padding:1em;
}

.paddingTop1 {
    padding-top: 0.75em;   
}

.margin1em{
    margin:1em;   
}
.marginTop1{
    margin-top:3em;   
}

.bold {
    font-weight: bold;   
}




/* Navigation*/

/* Color for the header*/
.top-bar-section li:not(.has-form) a:not(.button) , .top-bar , .contain-to-grid {
    color:white;
    background:#555555;
}
.dropdown {
    text-align: left;
}
div.row {
    max-width:85em;
}

div.row.white {
    padding-top:1em;
    padding-bottom:1em;
}
nav.top-bar {
  text-align:center;
}

section.top-bar-section {
    display:inline-block;
}

.contain-to-grid {
    border-bottom: 0px solid white;
}

.head.row.full {
    color:black;
}

.top-bar-section ul li > a {
    font-size:1em;
    border-right:solid;
    border-width:1px;
    min-width:6.5em;
}
.top-bar-section ul li:first-of-type {
    border-left:solid;
    border-width:1px;
}

#btnSignIn {
    margin-right:20px;
}

.btnFull{
    width:100%;
    margin: 1em 0;
}


#search {
    margin-top: 1em;
    width:60%;
    display: inline-block;
    float: right;
}

/*Buttons*/

.button.nav {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
    width:15em;
    border-radius:5px;
    background-color: #e9e9e9;
    border-color: #bababa;
    color: #333333;
    border-width:.5px;
    font-weight:bold;
    z-index:3;
}
.button.nav:hover {
    border-radius:5px;
    background-color: #bababa;
    border-color: #9c9c9c;
    color: #333333; 
    font-weight:bold;
    width:15em;
}

/*Carousel inner element*/
.item .MainCopy {
    position: absolute;
    left: 20%;
    top: 5%;
    width: 30%;
    padding: 1.5em;
    color: white;
    background-color: rgba(85,85,85,0.6);
}
.MainCopy h1 {
    color: white;
}
.MainCopy h2 {
    color: white;
    font-weight: normal;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white
}
.MainCopy h3 {
    color: white;
    font-weight: normal;
    font-size: 1.6em;
}
.recentQuoteBox {
    position: absolute;
    right: 20%;
    top: 14%;
    padding: 1em;
    color: white;
    background-color: rgba(85,85,85,0.6);
    text-align: center;
}
.recentQuoteBox h4 {
    color: white;
}
.orNewQuote {
    position: absolute;
    right: 26.5%;
    bottom: 20%;
    color: white;
    text-align: center;
}
.orNewQuote h2 {
        color: white;
    }

/*DIVS*/


.divTwoRow {
    width:100%;
    height:12em;
    margin: 1em 0;
    border: 1px solid #ccc;
    background-color:#F2F2F2;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    background-color: white;

}
.leftTwoRow {
    width:70%;
    height:100%;
    float:left;
}
.rightTwoRow {
    width:30%;
    height:100%;
    float:left;
}
.boxLinks{
    padding:1em;
}

.boxImageBackground {
    padding:1em 1em;
}

a.cover-block {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:transparent;
    display:block;
    opacity:0.1;
    z-index:5025;
}

.divThreeRow {
    width:100%;
    height:18em;
    margin: 1em 0;
    border: 1px solid #ccc;
    background-color:#F2F2F2;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    text-align: left;
    background-color: white;
}
.divThreeRow h2 {
    color: #555;
}

.divThreeRowQuotes {
    width:100%;
    height:18em;
    margin: 1em 0;
    border: 1px solid #ccc;
    background-color:transparent;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    text-align: left;
}
.divThreeRow h2 {
    color: #555;
}




.divTwoThirds {
    width:100%;
    height:10em;
    border-color:black;
    border-width:1px;
    border-style:double;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#F2F2F2;
}

.innerBorder {
    width:100%;
    height:10em;
    border-color:black;
    border-width:1px;
    border-style:double;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#F2F2F2;
}

.oneThird {
    width:33.33333%;
    padding: 0em 1.45em;
    border:solid;
}

.twoThird {
    width:66.66667%;
    padding: 0em 1.45em;
    border:solid;
}

#divUser{
    padding-top:2em;
}

#divUser , #divPass{
    
    margin-left:1em;
    margin-right:1em    
}
.borderBox
{
    border-style:solid;
    margin-bottom:2em;
}

.grdAcc{
    padding: 0 1em;   
}


#divYourQuotes{
    width:100%;
    margin: 0 0 2em 0;
    border: 1px solid #ccc;
    background-color:white;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    text-align: left;
}
#divInnerYourQuotes{
    padding:0.5em;
    
}

.greyDiv{
    width:100%;
    margin: 0 0 2em 0;
    border: 1px solid #000000;
    background-color:#F2F2F2;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    text-align: left;
}

.slightlyDarkerGrey {
    background-color:#EBEBEB;
}

.greyInnerDiv{
    padding:0.5em;
    
}

.greyDivActive{
    width:100%;
    margin: 0 0 2em 0;
    border: 1px solid #000000;
    background-color:#D9D9D9;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    text-align: left;
}

.content {
    padding:2em 2em;
}

/*Div Images*/

.divImage {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:transparent;
    display:block;
    opacity:0.33;
    z-index:1;
    text-align:center;
    padding:10px 1.45em;

}

.divImageDefaultSize
{
    background-color:transparent;
    display:block;
    opacity:0.33;
    z-index:1;
    text-align:center;
    padding:10px 1.45em;
}

.divPlaceImage {
    width:150px;
    height:150px;

}
.divPlaceImage.small{
    width:75px;
    height:75px;
}


.starImage {
    width:9em;
    height:2em;
}


/*Homepage Text*/

h1.home, h1.boldHome, h2.home, p.boldHome, p.home  {
    color:#555555;
}

h1.home {
}

h1.boldHome {
    font-weight:bold;
}

h2.home {
}

h2.centerHome {
    text-align:center;
    padding: 0.25em 0;
    color: #555555
}

p.boldHome {
    font-weight:bold;
}

p.home {
}


/*Images and Ting*/

.lineBorder {
    text-align:center;
    width:80%;
    height:1px;
    margin:0px 10%;
}

.fullLineBorder{
    text-align:center;
    width:100%;
    height:1px;
}


/* Login Page Stuffs */

#WelcomeBack{
    padding-top: 5em;
    padding-bottom:2em;
    
}

/*Footer Stuff*/

#green-bottom-banner {
    background-color: #4cad3c;
    width: 100%;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 2em 0 2em 0;
}

a.footerLink {
    color:white;
    font-style:normal;
    font-weight: normal;
    font-size:0.875em;
    display: inline-block;
    padding: 0 1em;

}
    a.footerLink:hover {
        text-decoration: underline;
    }

a.accLinkSmall {
    color:black;
    font-style:normal;
    font-weight: normal;
    font-size:0.675em;
    display: inline-block;
    padding: 0 0.25em;

}
    a.accLinkSmall:hover {
        text-decoration: underline;
    }


a.accountLinks {
    line-height: 2em;
    color:#002E0B;
}

a.accountLinks:hover{
    text-decoration: underline;  
    color:#005414;
    
}

#links {
    padding-bottom:2.5em;

}

p.superSmall {
    color:white;
    font-size:0.7em;

}

.pContainer {
    text-align:center;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}









/* TABLE CLASSES */

table {
    width:98%;
    text-align: center;
    
    color:#555555;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:1%;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
    
}

/* Header Stlyes for the table */

table thead th {
    
    color:#555555;
    
    
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
    border-right:1px solid #E3e3e3;
    
    text-align: center;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table thead th:last-child{
    border-right:none;   
}


table thead tr , table thead tr th{
    color:#555555;
}


/* Row Stlyes for the table */

table tr td {
    color:#555555;
	text-align: center;
	padding:1em 0.25em;
    min-width: 5em;
    max-width: 30em;
}

table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
    
}


/* Cell Stlyes for the table */

table td {
    color:#555555;
    
    
	padding:18px;
	border-top: 0px solid #ffffff;
	border-bottom:0px solid #e0e0e0;
	border-left: 0px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

.divTableCell{
        height:100%;
        width:100%;
    
}

.blankSpace{
    background-color: #ccc;
    
}

#divCloseButton{
    width:200px;
    float:right;
    padding-right: 25px;
    padding-left:25px;
}


